<div class="category mt-3">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-lg-6">
      <h1>Add a new holding</h1>
       <%= simple_form_for [@account, @holding] do |f| %>
          <%= f.association :stock, label_method: :ticker, value_method: :id%>
          <%= f.input :shares %>
          <%= f.submit "Add", class: "btn btn-info mt-2" %>
        <% end %>

        <div class ="d-flex mt-5">
        <h4 class="mr-4 mt-2">Looking for a stock?</h4>
        <%= link_to "Add a stock", new_stock_path, class: "btn btn-info text-center"  %>
        </div>
        </div>
      </div>
    </div>

