<div class="category mt-3">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-lg-6">
      <h1>Add a new stock position</h1>


       <form class="form-inline mt-5" id="stockForm">
          <input class="form-control ml-auto" type="text" placeholder="Find Stock" id="stockTicker">
          <input class="form-control mr-auto btn btn-primary" type="submit" id="tickerSubmit">
        </form>

          <%= simple_form_for [@stock] do |f| %>
          <%= f.input :ticker %>
          <%= f.input :stock_price %>
          <%= f.input :asset_type %>
          <%= f.submit "Add", class: "btn btn-info mt-2" %>
        <% end %>
        </div>
      </div>
    <!--    <script src="dist/main.js"></script> -->
    </div>
