  <h2> ACCOUNT GOALS </h2>
  <h3> <%= link_to "Add a goal", new_account_goal_path(@account)  %> </h3>

  <div class= "cards_goals d-flex row justify-content-between">

    <div class ="mx-2 d-flex col-8">
       <% @incompleted.each do |goal| %>

      <div class="card_goal">

          <div class ="d-flex border-bottom mb-2">
            <div class="goal_img">
              <div class="card_goal_img" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%=goal.photo.attached? ? cl_image_path(goal.photo.key) : image_path("https://source.unsplash.com/200x200/?#{goal.name}") %>);">
             </div>
            </div>

            <div class="card_goal_info">
              <h5> <%= goal.name%> </h5>
              <p> Current: <br> $<%= goal.goal_balance.round(2)%> </p>
              <p> Goal: <br>$<%= goal.goal_amount.round(2)%> </p>
              <p> Complete By:<br> <%= goal.end_date.strftime("%d, %B %Y")  %> </p>
            </div>
          </div>

          <div class="card_goal_actions d-flex justify-content-around">
           <%= link_to "Edit", edit_account_goal_path(goal), class: "button"  %>
            <%= link_to "Remove", goal_path(goal.id), method: :delete,  data: { confirm: 'Do you want to delete?' }, class: "button"  %>
          </div>

      </div>

    <% end %>
    </div>
    <!-- COMPLETED GOALS -->
    <div class="cards_completed col-3 d-flex flex-column">
      <h4>Completed Goals</h4>
      <% @completed.each do |goal| %>
        <div class="card_completed bg-success">
         <h5> <%= goal.name %> </h5>
          <p> Amount: $<%= goal.goal_amount%> </p>
        </div>
      <% end %>
    </div>
  </div>
