<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-lg-6">
      <h1>Add a new account</h1>
        <%= simple_form_for @account do |f| %>
          <%= f.input :name %>
          <%= f.input :account_type, collection: Account::ACCOUNT_TYPES, include_blank: false%>
          <%= f.input :cash_reserve %>
          <%= f.submit "Add", class: "btn btn-info mt-2" %>
        <% end %>
        </div>
     </div>
</div>
