<div class="container">
  <h1 class ="mt-3">Your Accounts</h1>
  <h2> Total Ballance: $<%= @accounts.total_balance %> </h2>
  <div class="row">
      <div class = "col-8">
       <%= link_to "Add new accont", new_account_path  %>
        <div class = "card_accounts">
          <% @accounts.each do |account| %>
          <div class="card_account">
            <div>
            <p> <strong>Account Name:</strong>  <%= link_to account.name , account_path(account)  %>  </p>
            <p> <strong>Account Type:</strong> <%= account.account_type %> </p>
            <p> <strong>Account Balance:</strong>  $<%= account.account_balance %> </p>
          </div>
          <%= link_to "", account_path(account), class: "card-link"  %>
          </div>
          <% end %>
        </div>
      </div>
      <div class="account_charts col-4" >
      <%= pie_chart Account.group(:name).sum(:balance) %>
    </div>
  </div>
</div>

